<p id="content-section-alerts" class='alert'></p>
<div>
  <h3>{{#if vacation.state}}
    {{vacation.state}},
    {{/if}}{{vacation.country}}
  </h3>
  <!-- carousel -->
  {{#if vacation.photos}}
  <div class="rg-image-wrapper">
			<div class="rg-image-nav">
				<a href="#" class="rg-image-nav-prev"></a>    {{#each vacation.photos as |photo|}}
              <img style='height:75px;' data-url={{photo.img}} data-caption={{data.caption}} class='thumbnail' alt={{photo.caption}} src={{photo.img}}>
            {{/each}}
				<a href="#" class="rg-image-nav-next">Next Image</a>
			</div>
		{{/if}}
	</div>
  <!--end carousel -->
  <section>
    <div class='feature' id='highlighted-content'>
      <span>placeholder for Highlighted stories/photos</span>
      <p>image caption goes here</p>
    </div>
  </section>
    <!-- show this section for all trips to this country-->
    <section class='story-list'>
      <div id='vacation-description'>
      <h5>{{vacation.year}}</h5>
      {{#if vacation.companions}}
      <p>You traveled here with {{vacation.companions}}</p>
      {{/if}}
      </div>
      {{#if vacation.stories}}
      <div id='stories-container'>
        <h5>Stories</h5>
        <!-- show bulleted list of stories for each story -->
        <ul>
          {{#each vacation.stories as |story|}}
          <li><a class='story-link' data-id={{story.id}}>{{story.title}}</a></li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
      <button id='add-story-photo' data-id='{{vacation.id}}'>Add Stories and Photos</button>
      <button id='update-vacation-btn' data-id='{{vacation.id}}'>Edit Trip Details</button>
      <button id='delete-vacation-btn' data-id="{{vacation.id}}" type="button" data-toggle="modal" data-target="#delete-vacation-modal">Delete Trip</button>
    </section>
</div>
