<div class='content-page-container' style='padding:10px 15px;'>
  <div class='content-page-boxes'>
  <h2 class='title' style='display: inline-block;  padding-right:6px;'>{{#if vacation.state}}
    {{vacation.state}},
    {{/if}}{{vacation.country}}:  </h2><h3 style='display: inline-block;'>{{#if vacation.month}} {{vacation.month}}, {{/if}}  {{vacation.year}}</h3>
  </div>
  <!-- carousel -->

  {{#if vacation.photos}}
  <div class='content-page-boxes'>
		<img id='scroll-right' class='scroll-arrow' src='https://github.com/dianamcnulty/travelerskeep-client/blob/master/assets/images/leftarrow.png?raw=true'>
    <div class="rg-image-wrapper">
			<div class="rg-image-nav">
       {{#each vacation.photos as |photo|}}
          <img class='thumb' style='height:70px;' data-url={{photo.img}}
          data-id={{photo.id}}  data-caption='{{photo.caption}}'  alt='{{photo.caption}}' src={{photo.img}}>
        {{/each}}
		</div>
    	</div>
		<img id='scroll-left' class='scroll-arrow' src='https://github.com/dianamcnulty/travelerskeep-client/blob/master/assets/images/rightarrow.png?raw=true'>
  </div>
		{{/if}}

  <!--end carousel -->
  <div class='content-page-boxes'>
  <section>
    <div class='feature' id='highlighted-content'>
      {{#if vacation.photos}}
    <div class='center-children'>
      <img class='feature-photo'  src={{vacation.photos.0.img}}>
      <p class='caption'>{{vacation.photos.0.caption}}</p>
      <a class='warning' id='delete-photo' data-toggle="modal" data-target="#delete-photo-modal" data-id='{{vacation.photos.0.id}}' data-tripid={{vacation.id}}>Delete this Photo</a>
    </div>
{{else if vacation.stories}}
  <h3>{{vacation.stories.0.title}}</h3><br>
  <p class='story' style='white-space: pre-wrap;'>{{vacation.stories.0.content}}</p><br><a id="go-edit-story" data-id='{{vacation.stories.0.id}}'>edit story</a>
  {{else}}
  <h3>This is Where You Keep Your Memories</h3>
  <p>Remember all the good times you had in {{vacation.country}} in {{vacation.year}}? Add photos and stories to this Adventure, so you can view them here.</p>
{{/if}}
    </div>
  </section>
    <!-- show this section for all trips to this country-->
    <section class='story-list'>
      <div id='vacation-description'>
      {{#if vacation.companions}}
      <p>You traveled here with {{vacation.companions}} in {{vacation.year}}</p>
      {{/if}}
      </div>
      {{#if vacation.stories}}
      <div id='stories-container'>
        <h4>Stories</h4>
        <!-- show bulleted list of stories for each story -->
        <ul>
          {{#each vacation.stories as |story|}}
          <li><a class='story-link' data-id={{story.id}}>{{story.title}}</a></li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
      <button class='sidebar-button' id='add-story-photo' data-id='{{vacation.id}}'>Add Stories & Photos</button>
      <button class='sidebar-button' id='update-vacation-btn' data-id='{{vacation.id}}'>Edit Trip Details</button>
      <button class='sidebar-button danger-button' id='delete-vacation-btn' data-id="{{vacation.id}}" type="button" data-toggle="modal" data-target="#delete-vacation-modal">Delete Trip</button>
    </section>
</div>
</div>
