<div class='content-page-container'>
<h2>Edit or Remove Your Story</h2>
<label>Remove Story:</label>

<button class='danger-button' id='delete-story-btn' data-id="{{story.id}}"
data-vacation="{{story.vacation.id}}" type="button" data-toggle="modal" data-target="#delete-story-modal">Delete This Story</button>
<hr>

<label>Edit Story:</label>
<form id='edit-story'>
  <input type='hidden' name='story[id]' value={{story.id}}>
  <label>Title</label><br>
  <input id='story-title-field' type=text name=story[title] value='{{story.title}}'><br>
  <label>Content</label><br>
  <textarea id='story-content-field' type=text name=story[content] rows="10" cols="50">{{story.content}}</textarea><br>
  <button type='submit' type="button">
  Update Story
  </button>
  <button id='cancel-update-story' data-id={{story.vacation.id}} type="button">
  Cancel
  </button>
</form>
</div>
