<div class='content-page-container'>
  <div>
  <h3>Update the Details of Your Trip</h3>
  <br>
<form id='update-vacation-form'>
  <input id='vacation-id-input' type=hidden name='vacation[id]'>
  <label>*Country:
  <select id='select-country'class='add-input' type='text' required='true' name='vacation[country]'>
  {{#each places.nations.countries as |country|}}
  <option id={{country.name}} value='{{country.name}}'>{{country.name}}</option>
  {{/each}}
  </select>
  </label>
  <label class='select-state' >State (if USA):
  <select  class='add-input select-state' type='text' name='vacation[state]' placeholder="State">
    <option></option>
    {{#each places.states}}
    <option id="{{this}}" value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  </label>
  <br><br>
  <label>Month:
  <select class='add-input' type='text' name='vacation[month]' placeholder='Month'>
    <option></option>
    <option id='January'>January</option>
    <option id='February'>February</option>
    <option id='March'>March</option>
    <option id='April'>April</option>
    <option id='May'>May</option>
    <option id='June'>June</option>
    <option id='July'>July</option>
    <option id='August'>August</option>
    <option id='September'>September</option>
    <option id='October'>October</option>
    <option id='November'>November</option>
    <option id='December'>December</option>
  </select>
  </label>
  <label>*Year:
  <input id='year' class='add-input' type="number" name="vacation[year]" placeholder="Year" min=1900 max=2100>
  </label>
  <br><br>
  <label>Companions:
  <input id='companions' class='add-input' type='text' name='vacation[companions]' placeholder='Travel Companions' style='width:350px; max-width:80%;'>
  </label>
  <br><br>
  <input type="button" id='cancel-new-vacation' value="Cancel" class='button'>
  <input type='submit' value='save and continue' class='button'>
</form>
</div>
</div>
